.the-btn{
    text-align: center;
    margin-bottom:20px ;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 50px;
 

}

.bookmark{
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 


   
}
.bookmark h2 {
    display: inline-block;
}

body {
    background-color:#F7EBDD;
}